@if (User.Identity.IsAuthenticated)
{
    <a class="nav-link" asp-area="" asp-controller="Usuario" asp-action="ExibirPerfil"><i class="fas fa-user-circle"></i></a>
}
else
{
    <a class="nav-link fw-bold" asp-area="" asp-controller="Usuario" asp-action="Cadastrar">Entrar</a>
}
