@model UsuarioViewModel

@{
    ViewData["Title"] = "Entrar";
    Layout = "~/Views/Shared/_LayoutEntrar.cshtml";
}

<div class="container-fluid cadastro espacoNav">
    @* formulario para cadastrar usuarios *@
    <form asp-controller="Usuario" asp-action="CadastrarProcessar" method="post">
        <div class="areaCadastro">
            <div class="fonteMatricula">
                <form class="formEspaco">
                    <div class="row text-center">
                        <div class="col-3"></div>
                        <div class="col-6">
                            <h3 class="cortextoCadastro"><strong>CADASTRO</strong></h3>
                        </div>
                    </div>

                    <input type="text" class="input form-control custom-input" id="nomeCompleto" placeholder="Nome Completo:" asp-for="NomeCompleto">
                    <div class="invalid-feedback">Insira seu nome completo.</div>

                    <input type="text" class="input form-control custom-input" id="nomeUsuario" placeholder="Username:" asp-for="NomeUsuario">
                    <div class="invalid-feedback">Insira um username válido.</div>

                    <div class="input-container">
                        <input type="password" maxlength="8" class="input form-control custom-input" id="senha" placeholder="Senha:" asp-for="Senha">
                        <div class="invalid-feedback">Insira uma senha válida.</div>
                        <button type="button" id="togglePassword" class="toggle-password">
                            <i class="fas fa-eye" aria-hidden="true"></i>
                        </button>
                    </div>

                    <p class="corCurso espacoBotao">Tipo de user:</p>

                    <div class="row">
                        <div class="offset-1 col-10">
                            <input class="form-check-input custom-radio custom-radioAluno" type="radio" value="Aluno" asp-for="Tipo" name="Tipo" id="aluno">
                            <label class="form-check-label corTermos" for="aluno">Sou Aluno</label>
                        </div>

                        <div class="offset-1 col-10 mt-3">
                            <input class="form-check-input custom-radioP" type="radio" value="Professor" asp-for="Tipo" name="Tipo" id="professor">
                            <label class="form-check-label corTermos" for="professor">Sou Professor</label>
                        </div>

                        <div class="offset-1 col-10 mt-3">
                            <input class="form-check-input custom-radioC" type="radio" value="Coordenacao" asp-for="Tipo" name="Tipo" id="coordenacao">
                            <label class="form-check-label corTermos" for="coordenacao">Sou da Coordenação</label>
                        </div>
                    </div>

                    <div class="input-container">
                        <input type="password" class="input form-control custom-input" id="chaveAcesso" placeholder="Chave de Acesso:">
                        <div class="invalid-feedback">Insira uma chave válida.</div>
                        <button type="button" id="togglePassword2" class="toggle-password">
                            <i class="fas fa-eye" aria-hidden="true"></i>
                        </button>
                    </div>

                    <p class="corCurso">Curso:</p>

                    <div class="form-check cursosCheck">
                        <input class="form-check-input custom-checkbox" type="checkbox" id="cAgudas" name="Cursos">
                        <label class="form-check-label" for="cAgudas">Cordas Agudas</label>
                    </div>
                    <div class="form-check cursosCheck">
                        <input class="form-check-input custom-checkbox" type="checkbox" id="cGraves" name="Cursos">
                        <label class="form-check-label" for="cGraves">Cordas Graves</label>
                    </div>
                    <div class="form-check cursosCheck">
                        <input class="form-check-input custom-checkbox" type="checkbox" id="metais" name="Cursos">
                        <label class="form-check-label" for="metais">Metais</label>
                    </div>
                    <div class="form-check cursosCheck">
                        <input class="form-check-input custom-checkbox" type="checkbox" id="madeiras" name="Cursos">
                        <label class="form-check-label" for="madeiras">Madeiras</label>
                    </div>
                    <div class="form-check cursosCheck">
                        <input class="form-check-input custom-checkbox" type="checkbox" id="percussao" name="Cursos">
                        <label class="form-check-label" for="percussao">Percussão</label>
                    </div>
                    <div class="form-check cursosCheck">
                        <input class="form-check-input custom-checkbox" type="checkbox" id="coral" name="Cursos">
                        <label class="form-check-label" for="coral">Coral</label>
                    </div>

                    <button type="submit" class="btn btn-dark btn-cadastro espacoBotao">CADASTRAR-SE</button>

                    <p class="p espacoLogin text-center">Já possui uma conta? <a href="#" class="a a1 link-login">Fazer Login</a></p>
                </form>
            </div>
        </div>
    </form>
</div>

<div class="container-fluid login d-none espacoNav">
        <form asp-controller="Usuario" asp-action="LoginProcessar" method="post">
            <div class="areaLogin">
                <div class="fonteMatricula">
                    <form class="formEspaco">
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-6">
                                <h3 class="cortextoLogin"><strong>LOGIN</strong></h3>
                            </div>
                        </div>

                        <input type="text" class="input form-control custom-input" id="nomeUsuarioLogin" placeholder="Username:" asp-for="NomeUsuario">

                        <div class="input-container">
                            <input type="password" maxlength="8" class="input form-control custom-input" id="senhaLogin" placeholder="Senha:" asp-for="Senha">
                            <button type="button" id="togglePasswordLogin" class="toggle-passwordL">
                                <i class="fas fa-eye" aria-hidden="true"></i>
                            </button>
                        </div>


                        <button type="button" class="btn btn-dark btn-entrar btn-login espacoBotao" name="btn-enviar">ENTRAR</button>

                        <p class="p text-center">Não possui uma conta? <a href="#" class="a a1 link-cadastro">Cadastre-se</a></p>
                    </form>
                </div>
            </div>
        </form>
</div>
