/* _content/projGuriBatatais/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-e83yx4cgjx] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-e83yx4cgjx] {
  color: #0077cc;
}

.btn-primary[b-e83yx4cgjx] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-e83yx4cgjx], .nav-pills .show > .nav-link[b-e83yx4cgjx] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-e83yx4cgjx] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-e83yx4cgjx] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-e83yx4cgjx] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-e83yx4cgjx] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-e83yx4cgjx] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/projGuriBatatais/Views/Shared/_LayoutAcessoNegado.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-1tgcxekgzl] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-1tgcxekgzl] {
  color: #0077cc;
}

.btn-primary[b-1tgcxekgzl] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-1tgcxekgzl], .nav-pills .show > .nav-link[b-1tgcxekgzl] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-1tgcxekgzl] {
    border-top: 1px solid #e5e5e5;
}
.border-bottom[b-1tgcxekgzl] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-1tgcxekgzl] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-1tgcxekgzl] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-1tgcxekgzl] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/projGuriBatatais/Views/Shared/_LayoutAluno.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-fz1l959gb5] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-fz1l959gb5] {
  color: #0077cc;
}

.btn-primary[b-fz1l959gb5] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-fz1l959gb5], .nav-pills .show > .nav-link[b-fz1l959gb5] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-fz1l959gb5] {
    border-top: 1px solid #e5e5e5;
}
.border-bottom[b-fz1l959gb5] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-fz1l959gb5] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-fz1l959gb5] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-fz1l959gb5] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/projGuriBatatais/Views/Shared/_LayoutEntrar.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-4ypi49bcwr] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-4ypi49bcwr] {
  color: #0077cc;
}

.btn-primary[b-4ypi49bcwr] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-4ypi49bcwr], .nav-pills .show > .nav-link[b-4ypi49bcwr] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-4ypi49bcwr] {
    border-top: 1px solid #e5e5e5;
}
.border-bottom[b-4ypi49bcwr] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-4ypi49bcwr] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-4ypi49bcwr] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-4ypi49bcwr] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/projGuriBatatais/Views/Shared/_LayoutGuriBatatais.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-iv6gq3beec] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-iv6gq3beec] {
  color: #0077cc;
}

.btn-primary[b-iv6gq3beec] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-iv6gq3beec], .nav-pills .show > .nav-link[b-iv6gq3beec] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-iv6gq3beec] {
    border-top: 1px solid #e5e5e5;
}
.border-bottom[b-iv6gq3beec] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-iv6gq3beec] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-iv6gq3beec] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-iv6gq3beec] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/projGuriBatatais/Views/Shared/_LayoutIndex.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-q3ahptnqwq] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-q3ahptnqwq] {
  color: #0077cc;
}

.btn-primary[b-q3ahptnqwq] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-q3ahptnqwq], .nav-pills .show > .nav-link[b-q3ahptnqwq] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-q3ahptnqwq] {
    border-top: 1px solid #e5e5e5;
}
.border-bottom[b-q3ahptnqwq] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-q3ahptnqwq] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-q3ahptnqwq] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-q3ahptnqwq] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
