html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.alerta {
    margin-top: 110px;
}

.destaqueLogin:link {
    color: #d232ff;
}

.destaqueLogin:visited {
    color: #d232ff;
}

.destaqueLogin:hover {
    color: #e599fa;
}

.destaqueLogin:active {
    color: #d232ff;
}

.destaqueCadastro:link {
    color: #6e87ff;
}

.destaqueCadastro:visited {
    color: #6e87ff;
}

.destaqueCadastro:hover {
    color: #8b9df7;
}

.destaqueCadastro:active {
    color: #6e87ff;
}

.comunicadosTop {
    padding-top: 20px;
}

.cardLaranja {
    background-color: #ffb696;
}

.cardVerde {
    background-color: #99efdd;
}

.cardAzul {
    background-color: #c5cfff;
}

.cardRoxo {
    background-color: #edadff;
}

.cardAmarelo {
    background-color: #fff6c5;
}

.espacamentoCard {
    padding-top: 20px;
}

.cardStyle:link, .cardStyle:hover, .cardStyle:visited, .cardStyle:active {
    color: #000000;
    text-decoration: none;
}

.menu {
    font-size: 25px;
    margin-right: 20px;
    color: #99efdd;
}

/* Sidebar */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    background-color: #000; /* Cor preta para o restante da sidenav */
    overflow-x: hidden;
    padding-top: 0; /* Removido padding-top porque já temos a seção topSidenav */
    transition: 0.5s;
    color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* Seção superior com fundo roxo */
.topSidenav {
    background-color: #d232ff; /* Cor roxa */
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 40px;
    color: white;
    border-top-left-radius: 20px;
}

/* Botão de fechar */
.closebtn {
    color: white !important;
    font-size: 30px;
    text-align: right;
    display: block;
}

/* O texto */
h6, p {
    margin: 0;
}

/* Ajustes para os links e hover */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

    .sidenav a:hover {
        color: #f1f1f1;
    }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

.navbar {
    background-color: transparent;
    transition: background-color 0.5s ease;
}

    .navbar .estiloNav img {
        transition: transform 0.5s ease;
    }
